{% extends "user/read.html" %}



{% block primary_content%}
<header class="module-content page-header">
     <div class="content_action">
  </div>
                        
     <ul class="nav nav-tabs">
         <li ><a href="/user/{{c.userobj.name}}"><i class="icon-sitemap"></i> Datasety</a></li>
       <li><a href="/user/activity/{{c.userobj.name}}"><i class="icon-time"></i> Prehľad aktivít</a></li>
       <li class="active">
      <a href="/API_management"> {{_('API management')}}</a>
    </li>
    <li>
      <a href="/admin"> Administration</a>
    </li>
    
  </ul>
</header>
  <!--ul!--><h2>{{_('API management')}} </h2>
  <p> {{_('API management lorem ipsum text')}} </p>
  <p>{{_('API nagement tools:')}}</p>
  <ul style="list-style-type:none;">
    <li><h2 style="font-size: 1.3em;"> <a href="/API_management/NewAPIKey"> <i class="fa fa-external-link" ></i> {{_('New API key')}} </a></h2></li> 
    
  </ul>
  <p><br /> </p>
{% endblock %}

